[Unit]
Description=Bootlogo
After=systemd-modules-load.service
Before=neutrino.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c "/usr/bin/showiframe /usr/share/tuxbox/neutrino/icons/start.m2v"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
