### Host variables
# Determine how many tasks bitbake should run in parallel:
BB_NUMBER_THREADS ?= "4"
# Determine how many processes make should run in parallel when running compile tasks:
PARALLEL_MAKE ?= "-j 4"


### System variables
DL_DIR ?= "${COREBASE}/yocto-downloads"
#SDKMACHINE ?= "i686"
SDKMACHINE = "x86_64"
DEFAULT_TIMEZONE = "Europe/Berlin"



### Disk Space Monitoring during the build
BB_DISKMON_DIRS = "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K" 



### Qemu configuration
PACKAGECONFIG_pn-qemu-native = "sdl"
ASSUME_PROVIDED += "libsdl-native"
CONF_VERSION = "1"


DISTRO = "tuxbox"     
MACHINE ?= "hd51"

### Image Settings

# What image to build ?
IMAGENAME = "kodi-image"

# Choose neutrino source. Possible values are "neutrino-hd", "neutrino-ni" or "neutrino-mp"
NEUTRINO_FLAVOUR = "neutrino-mp"

# set initial passwort for user root. Keep empty for root:
ROOTPW = ""

# Choose which plugins should be installed 
PLUGIN_INSTALL += "msgbox tuxcom shellexec input tuxmail tuxwetter"

# Add Image Maintainer here
CREATOR = "Johnny Walker"

# git configuration ... needed for etckeeper
GIT_USER = "JohnnyWalker"
MAIL = "jwalker@example.com"

# put your yt_dev_id here, if you need working youtube playback
YT_DEV_KEY = ""
# put your tmdb_dev_id here, if you want to receive additional movie information
TMDB_DEV_KEY = ""
# put your shoutcast_dev_id here, if you need shoutcast functionality
SHOUTCAST_DEV_KEY = ""

# Put additional packages that should be packaged into your image. Separated with a whitespace. 
IMAGE_INSTALL_append += ""

# Web server from which packages and images are updated. Defaults to local folder on your harddrive.
IPK_FEED_SERVER = "file:////media/sda1/service/ipk"
IMAGE_LOCATION = "file:////media/sda1/service/image/flashimage.img"
RELEASE_TEXT_LOCATION = "file:////media/sda1/service/image/beta.txt" 
#RELEASE_TEXT_LOCATION_HOST = "/var/www/images/hd51/beta.txt"








