KERNEL=="sd[a-z][0-9]", SUBSYSTEM=="block", ENV{ID_USB_DRIVER}=="usb-storage", ACTION=="add", RUN+="/bin/systemctl start mount@%k.service", RUN+="/usr/bin/mdev_helper"
KERNEL=="sd[a-z][0-9]", SUBSYSTEM=="block", ENV{ID_USB_DRIVER}=="usb-storage", ACTION=="remove", RUN+="/bin/systemctl stop mount@%k.service"

