# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly

LCONF_VERSION = "7"
YOCTO_BASEDIR ?= "##COREBASE##"
BBPATH = "${TOPDIR}"
BBFILES ?= ""
BBLAYERS ?= " \
  ##COREBASE##/meta \
  ##COREBASE##/meta-yocto-bsp \
  ##COREBASE##/meta-ceryon \
  ##COREBASE##/meta-neutrino \
  "

BBFILES += "${TOPDIR}/recipes/images/custom/*.bb"
BBFILES += "${TOPDIR}/recipes/images/*.bb"
