### Host variables
# Determine how many tasks bitbake should run in parallel:
BB_NUMBER_THREADS ?= "4"
# Determine how many processes make should run in parallel when running compile tasks:
PARALLEL_MAKE ?= "-j 4"

### System variables
DL_DIR ?= "${COREBASE}/yocto-downloads"
#SDKMACHINE ?= "i686"
SDKMACHINE = "x86_64"
DEFAULT_TIMEZONE = "Europe/Berlin"

### Disk Space Monitoring during the build
BB_DISKMON_DIRS = "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K" 

# Hash Equivalence
#
# Enable support for automatically running a local hash equivalence server and
# instruct bitbake to use a hash equivalence aware signature generator. Hash
# equivalence improves reuse of sstate by detecting when a given sstate
# artifact can be reused as equivalent, even if the current task hash doesn't
# match the one that generated the artifact.
#
# A shared hash equivalent server can be set with "<HOSTNAME>:<PORT>" format+#
#
BB_HASHSERVE = "auto"
BB_SIGNATURE_HANDLER = "OEEquivHash"

BB_DANGLINGAPPENDS_WARNONLY = "1"

### Qemu configuration
PACKAGECONFIG_pn-qemu-native = ""
CONF_VERSION = "1"


DISTRO = "tuxbox"     
MACHINE ?= "hd51"

### Image Settings

# Name of image, default is neutrino-image
#IMAGE_BASENAME = "neutrino-image"

# Could be set to small
IMAGESIZE = "normal"

# Choose neutrino source. Possible values are "tuxbox", "tango" or "ni"
FLAVOUR = "tuxbox"

# set initial passwort for user root. Keep empty for root:
ROOTPW = ""

# Choose which plugins should be installed 
PLUGIN_INSTALL += "msgbox tuxcom shellexec input tuxwetter"

# Add Image Maintainer here
CREATOR = "Johnny Walker"

# git configuration ... needed for etckeeper
GIT_USER = "JohnnyWalker"
MAIL = "jwalker@example.com"

# put your yt_dev_id here, if you need working youtube playback
YT_DEV_KEY = ""
# put your tmdb_dev_id here, if you want to receive additional movie information
TMDB_DEV_KEY = ""
# put your shoutcast_dev_id here, if you need shoutcast functionality
SHOUTCAST_DEV_KEY = ""
# put your omdb_api_key here, if you want to query the imdb database
OMDB_API_KEY = ""
# put your darksky api key here, if you want to use weather service 
WEATHER_DEV_KEY = ""

# Put additional packages that should be packaged into your image. Separated with a whitespace. 
IMAGE_INSTALL_append += ""

# Web server from which packages and images are updated. Defaults to local folder on your harddrive.
IPK_FEED_SERVER = "file:////media/sda1/service/ipk"
IMAGE_LOCATION = "file:////media/sda1/service/image/flashimage.img"
RELEASE_TEXT_LOCATION = "file:////media/sda1/service/image/beta.txt" 
#RELEASE_TEXT_LOCATION_HOST = "/var/www/images/hd51/beta.txt"








