[Unit]
Description=local configuration 
Requires=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/local.sh

[Install]
WantedBy=multi-user.target

