[Unit]
Description=Mount Image Partitions  

[Mount]
What=/dev/mmcblk0p5
Where=/mnt/partition_2
Type=ext4
Options=nofail,noauto,rw

[Install]
WantedBy=multi-user.target


