[Unit]
Description=Mount Userdata Partition  

[Mount]
What=/dev/mmcblk0p7
Where=/mnt/userdata
Type=ext4
Options=nofail,noauto,rw

[Install]
WantedBy=multi-user.target
