[Unit]
Description=Mount Linuxrootfs Partition

[Mount]
What=/dev/mmcblk0p3
Where=/mnt/linuxrootfs
Type=ext4
Options=nofail,noauto,rw

[Install]
WantedBy=multi-user.target
