[Unit]
Description=Mount Image Partitions

[Mount]
What=/dev/mmcblk0p3
Where=/mnt/rootfs
Type=ext4
Options=nofail,noauto,rw

[Install]
WantedBy=multi-user.target
